<script src="https://unpkg.com/feather-icons"></script>
<div class="container">
  <!-- Encabezado con el titulo -->
  <div class="row">
    <div class="col-12 mt-3">
      <h1>Habitaciones asignadas dave</h1>
    </div>
  </div>

  <!-- Cuerpo principal -->
  <div class="row">

    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 mt-2 mb-2"
      ng-repeat="habitacion in habitaciones">

      <!-- start of the cards iteration -->
      <div class="card h-100 shadow">
        <div style="padding: 9px" class="card-body">

          <div class="row justify-content-end" >
            <div class="col-5" >
              <h5 style="display: inline" class="card-title text-center" ng-bind="'Numero: ' +  habitacion.number"></h5>
            </div>
            <div class="col-3" >
              <button ng-click="getHistory(habitacion.id)" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#logModal">
                <span style="font-weight: bolder;" >+</span>
              </button>
            </div>
          </div>

          <div class="row" >
            <div class="col-12" >
              <hr >
            </div>
          </div>
          <div class="row mt-3">

            <div class="col-6">
              <h5 class="text-muted" ng-bind="'Edificio: ' + habitacion.building_id"></h5>
              <h5 class="text-muted" ng-bind="'Piso: ' + habitacion.floor"></h5>
            </div>

            <div class="col-6">

              <div class="col-12 text-center">
                <span ng-if="habitacion.status_id === 3" class="badge text-bg-success info_badge" >!Aprovada¡</span>
                <span ng-if="habitacion.status_id === 4" class="badge text-bg-warning info_badge" >Pendiente</span>
                <span ng-if="habitacion.status_id == 5" class="badge text-bg-danger info_badge" >Sucia</span>
                <span ng-if="habitacion.status_id == 6" class="badge text-bg-warning info_badge " >Incidente</span>
                <span ng-if="habitacion.status_id == 8" class="badge text-bg-warning info_badge " >Bloqueada</span>
                <span ng-if="habitacion.status_id == 7" class="badge text-bg-warning info_badge " style="background-color: #2EE847!important;" >Ocupada</span>
              </div>

            </div>

            <div class="col-12">

              <div class="col-12 text-center">
                <button ng-if="habitacion.status_id === 5" class="btn btn-outline-success" ng-click="maskAs(habitacion, 4)" >Limpia</button>

                <!-- Button trigger modal -->
                <button ng-if="habitacion.status_id === 5" ng-click="fillDataInModal(habitacion, $index)" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#reportIncidentModal">
                  Reportar incidente
                </button>


              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end of the cards iteration -->

  </div>
</div>



<!-- incident modal -->
<div class="modal fade" id="reportIncidentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Incidente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="text-center" ng-bind="'Incidente en habitación ' + incident.room.number  + ' en el edificio ' + incident.room.building_id "  ></h6>
        <hr>
        <h6>Fecha del reporte:</h6>
        <span ng-bind="incident.date" ></span>
        <h6 class="mt-2" >Descripción</h6>
        <textarea
          ng-model="incident.description"
          class="form-control"
        >
        </textarea>
        <div class="row mt-2" >

          <div class="col-6" >
            <h6>Adjuntar evidencia</h6>

          </div>
          <div class="col-6 text-end" >
            <button ng-show="photoStillToBeToken" ng-click="openCamera()" class="btn btn-outline-success" >
              Abrir camera
            </button>

          </div>
          <div ng-show="showCamera" class="col-12 text-center" style="margin: auto;">
              <video id="video" class="img-thumbnail" autoplay style="height : 350px; width: 100%;">
              </video>
              <button
                ng-click="takePicture()"
                class="btn btn-outline-success"
              >
                Tomar foto
              </button>
          </div>
          <div
            id="pictureContainer"
            class="col-12"
          >
          </div>

        </div>
        <!-- <div class="row">
          <div class="col-12 text-center">
            <img class="text-center rounded" src="../img/cama destendida.jpg" alt="" width="50%" height="auto">
          </div>
        </div> -->

      </div>
      <div class="modal-footer">
        <button ng-click="closeCameraIfOpen()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button ng-click="reportIncident()" type="button" class="btn btn-warning" style="color: white;">Reportar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for the logs -->
<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row" >

          <div class="col-1" >
            #
          </div>
          <div class="col-2" >
            Estado
          </div>
          <div class="col-5" >
            Hora y fecha
          </div>
          <div class="col-4" >
            Usuario
          </div>

        </div>

        <div>
          <div ng-if="logs.length === 0 && !appOffline" class="alert alert-success row mt-3" role="alert">
            No cuenta con historial
          </div>
          <div ng-if="appOffline" class="alert alert-success row mt-3" role="alert">
            La aplicación esta en modo offline, no es posible la información solicitada
          </div>
          <div class="row" ng-repeat="log in logs" >
            <div style="font-size:12px" class="col-1" ng-bind="$index + 1" >
              
            </div>
            <div style="font-size:12px" class="col-2" ng-bind="log.status" >
              
            </div>
            <div style="font-size:12px" class="col-5" ng-bind="log.date_and_hour" >
              
            </div>
            <div style="font-size:12px" class="col-4" ng-bind="log.name + ' ' + log.surname + ' ' + log.second_surname " >
              
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script>
  feather.replace()
</script>